In [2]:
import numpy                 as np
import pandas                as pd
import matplotlib.pyplot     as plt
import seaborn               as sns
from scipy import stats
import folium
from folium.plugins import HeatMap
%matplotlib inline
sns.set()

In [3]:
df = pd.read_csv('data/Income_per_capita.csv', delimiter=',')
df.shape

(2495, 8)

In [4]:
df.head(5)

,tract,income_percap,sup_dist,csa,spa,ESRI_OID,Shape__Area,Shape__Length
0,6037199900,17982.0,District 1,Los Angeles - Lincoln Heights,SPA 4 - Metro,2347,4.782361e+06,10141.728022
1,6037199700,26586.0,District 1,Los Angeles - Wholesale District,SPA 4 - Metro,2348,1.041050e+07,13808.463241
2,6037199801,16111.0,District 1,Los Angeles - Lincoln Heights,SPA 4 - Metro,2349,3.724107e+06,9459.391827
3,6037199802,16180.0,District 1,Los Angeles - Lincoln Heights,SPA 4 - Metro,2350,3.296129e+06,8868.744225
4,6037201110,32367.0,District 1,Los Angeles - El Sereno,SPA 4 - Metro,2351,1.099246e+07,15893.383636

In [6]:
df.isnull().sum()

tract             0
income_percap    20
sup_dist          0
csa               0
spa               0
ESRI_OID          0
Shape__Area       0
Shape__Length     0
dtype: int64

In [8]:
drop_df = df.copy()
drop_df = drop_df.dropna()
drop_df.shape

(2475, 8)

In [9]:
drop_df.isnull().sum()

tract            0
income_percap    0
sup_dist         0
csa              0
spa              0
ESRI_OID         0
Shape__Area      0
Shape__Length    0
dtype: int64